.navbar{
    position: fixed;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;

    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}

.nav_logo{
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav_avatar{
    position: fixed;
    width: 30px;
    right: 20px;
    object-fit: contain;

}

.nav_black{
    background-color: #111;
}